:root {
    --bg-color--primary: #8f57fd;
    --bg-color--second: #fff;
    --font-color--primary: black;
    --font-color--second: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#141e30, #243b55);
    font-size: 16px;
    font-family: 'Helvetica' sans-serif;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
}
header .header__logo {
    width: 15vh;
    max-width: 200px;
    min-width: 150px;
    margin-left: 15px;
    height: auto;
}
header .header__menu {
    width: 10vh;
    height: auto;
    margin-right: calc(15px + 1vw);
}
header .header__menu-profile {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}
header .header__menu-profile .profile--image {
    margin-right: 10px;
    width: 5vh;
}
header .header__menu-profile p {
    font-size: calc(.8rem + 1vw);
    font-weight: bold;
    line-height: .8rem;
    color: var(--font-color--second);
}
header .header__menu-nav {
    display: none;
    margin: 0 calc(10px + 2vw) 0 0;
    position: absolute;
    text-align: end;
    padding: 0;
}
.header__menu-nav .menu--list ul {
    padding: 0;
}
.header__menu-nav .menu--list li {
    list-style: none;
    margin-bottom: 10px;
}
.header__menu-nav .menu--list li  a {
    text-decoration: none;
    font-size: calc(.8rem + 1vw);
    font-weight: bold;
    line-height: .8rem;
    color: var(--font-color--primary);
}
/* Header menu Hover*/
header .header__menu:hover .header__menu-nav, .header__menu-nav:hover{
    display: block;
}
.header__menu-nav .menu--list li  a:hover {
    text-decoration: underline;
}

/* Buscador */
.main {
    width: 100%;
    max-width: 980px;
    min-width: 320px;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.main__title {
    color: var(--font-color--second);
    font-size: calc(1rem + 2vw);
    margin-top: 20px;
}
.buscador {
    background: rgba(0,0,0,.5);
    opacity: 0.9;
    outline: none;
    width: 70vw;
    max-width: 700px;
    min-width: 226px;
    height: 4vh;
    margin: 20px auto;
    border: 2px solid var(--font-color--second);
    border-radius: 25px;
    color: var(--font-color--second);
    font-size: calc(.9rem + 1vw);
    padding: 0 20px;
}
.buscador:hover {
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;;
}
::placeholder {
    color: var(--font-color--second);
}

/* Carrousel*/
.slide-container {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    background: white;
    width: calc(40vw + 5vw);
    height: calc(25vh + 10vw);
    max-height: 500px;
    min-height: 350px;
    max-width: 300px;
    min-width: 180px;
    
}
.wrapper__header {
    width: 100%;
    height: 40%;
    position: relative;
    background: #EC9B3B;
}
.wrapper__header img {
    position: absolute;
    height: calc(180px + 5vw);
    top: -65px;
    right: 10px;
}
.wrapper__description {
    background-color: white;
    width: 100%;
    height: 40%;
}
.wrapper__footer {
    background-color: #EC9B3B;
    width: 100%;
    height: 20%;
}
/* Carrousel*/

