:root {
    --bg-color--primary: #8f57fd;
    --bg-color--second: #fff;
    --font-color--primary: black;
    --font-color--second: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color--second);
    font-size: 16px;
    font-family: 'Helvetica' sans-serif;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: var(--bg-color--primary);
}
header .header__logo {
    width: 10vh;
    max-width: 200px;
    min-width: 150px;
    margin-left: 15px;
}
header .header__menu {
    margin-right: 10px;
}
header .header__menu-profile {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
header .header__menu-profile .profile--image {
    margin-right: 10px;
    width: 5vh;
}
header .header__menu-profile p {
    font-size: calc(1rem + 1vw);
    font-weight: bold;
    line-height: .8rem;
    color: var(--font-color--second);
}
header .header__menu-nav {
    display: none;
    margin: 0  8px 0 0;
    position: absolute;
    text-align: end;
}
.header__menu-nav .menu--list ul {
    padding: 0;
}
.header__menu-nav .menu--list li {
    list-style: none;
    margin-top: 10px;
}
.header__menu-nav .menu--list li  a {
    text-decoration: none;
    font-size: calc(.8rem + 1vw);
    font-weight: bold;
    line-height: .8rem;
    color: var(--font-color--second);
}
/* Header menu Hover*/
header .header__menu:hover .header__menu-nav, .header__menu-nav:hover{
    display: block;
}
.header__menu-nav .menu--list li  a:hover {
    text-decoration: underline;
}

/* Buscador */
.main {
    width: 100vh;
    height: 25vh;
}
.main__title {
    color: var(--font-color--primary);
    font-size: calc(1rem + 2vw);
}
.input {
    background-color: rgba(255,255,255,0.1);
    outline: none;
    width: 70vw;
    max-width: 700px;
    min-width: 226px;
    height: 4vh;
    margin: 20px auto;
    border: 2px solid var(--bg-color--primary);
    border-radius: 25px;
    color: var(--font-color--primary);
    font-size: calc(.9rem + 1vw);
    padding: 0 20px;
}
::placeholder {
    color: var(--font-color--primary);
}